<div class="flex-col">

  <!-- Title -->
  <div class="flex mb-4">
    <div class="w-full">
      {{ title }}
    </div>
  </div>

  <!-- Contents -->
  <div class="flex mb-4">
      <ul>
      	{{ contents }}
      		<li>{{ value }} </li>
      	{{ /contents }}
      </ul>
  </div>

  <div class="flex mb-4">
    {{ if logged_in }}<a href="{{ edit_url }}">Update</a>{{ /if }}
  </div>
</div>
